<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description"
            content="ChatFlare: un proyecto de pasatiempo sencillo y divertido construido con Python-Flask y Socket IO para chatear globalmente.">
      <meta name="keywords"
            content="ChatFlare, chat global, Python-Flask, Socket IO, pasatiempo">
      <meta name="author" content="Junior Rumiche">
      <meta name="robots" content="index, follow">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ title }} | ChatFlare</title>
      <link rel="stylesheet"
            href="{{ url_for('static', filename='css/app.css') }}" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="{{ url_for('static', filename='css/login.css') }}" />
      <link rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}" />
      <link rel="canonical" href="https://juniorrumiche.github.io/">
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:title" content="{{ title }} | ChatFlare">
      <meta property="og:description"
            content="ChatFlare: un proyecto de pasatiempo sencillo y divertido construido con Python-Flask y Socket IO para chatear globalmente.">
      <!-- Twitter -->
      <meta property="twitter:title" content="{{ title }} | ChatFlare">
      <meta property="twitter:description"
            content="ChatFlare: un proyecto de pasatiempo sencillo y divertido construido con Python-Flask y Socket IO para chatear globalmente.">
      <meta property="twitter:image" content="URL_DE_LA_IMAGEN">
      <!-- Additional SEO elements can be added here -->
      {% block extracss %}
      {% endblock extracss %}
   </head>
   <body class="">
      <div class="container">
         <div class="row vh-100 d-flex- justify-content-center align-items-center">
            {% block content %}{% endblock %}
         </div>
      </div>
      <script src="{{ url_for('static', filename='js/app.js') }}"></script>
      <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
      {% block extrajs %}
      {% endblock extrajs %}
   </body>
</html>
